.table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    font-family: Pretendard;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.671rem;
    color: #D8D8D8;
}

.tableContainer {
    width: 100%;
}

.row,
.rowRanking {
    display: grid;
    height: 6.4rem;
    background: #212121;
}

.row {
    grid-template-columns: 21.3rem 30.4rem 1fr 1fr 1fr 1fr;
}

.rowRanking {
    grid-template-columns: 6.8rem 21.3rem 30.4rem 1fr 1fr 1fr 1fr;
}

.rowRanking.header,
.row.header {
    height: 3.9rem;
    margin-bottom: 1.6rem;
    background: #2E2E2E;
    color: #ffffff;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoAndName {
    display: flex;
    align-items: center;
}

.logo {
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 2.4rem;
    margin-right: 1.2rem;
}

.ellipsisName,
.ellipsisDescription {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    word-break: break-word;
}

.ellipsisName {
    max-width: 15rem;
    -webkit-line-clamp: 1;
    color: #ffffff;
}

.ellipsisDescription {
    padding: 1.5rem 1.6rem;
    max-height: 5rem;
    max-width: 30.4rem;
    -webkit-line-clamp: 2;
}

.myCompany {
    background: #2E2E2E;
}

@media(max-width: 1199px) {
    .row {
        grid-template-columns: 15rem 18rem 1fr 1fr 1fr 1fr;
    }

    .rowRanking {
        grid-template-columns: 6rem 14rem 18rem 8rem 1fr 1fr 1fr;
    }
}

@media(max-width: 743px) {
    .other {
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.551rem;
    }

    .table {
        min-width: 800px;
        padding-bottom: 1.2rem;
    }

    .tableContainer {
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .tableContainer::-webkit-scrollbar {
        height: 0.8rem;
    }

    .tableContainer::-webkit-scrollbar-track {
        background: #212121;
    }

    .tableContainer::-webkit-scrollbar-thumb {
        background: gray;
    }


}