.title {
    height: 2.4rem;
    font-family: Pretendard;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.387rem;
    text-align: left;
    color: #FFFFFF;
}

@media(max-width: 74.3rem) {
    .title {
        height: 1.9rem;
        font-size: 1.6rem;
        line-height: 1.909rem;
        text-align: left;
    }
}