.table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    font-family: Pretendard;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.671rem;
}

.tableContainer {
    width: 100%;
}

.header {
    height: 3.9rem;
    background: #2E2E2E;
}

.header th {
    vertical-align: middle;
    /* 세로 가운데 정렬 */
    text-align: center;
    /* 텍스트 가운데 정렬 */
}

.margin {
    height: 1.6rem;
}

.logo {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    margin-left: 2.4rem;
    margin-right: 1.2rem;
}

.name {
    width: 21.3rem;
    height: 100%;
    color: #ffffff;
}

.name.content {
    display: flex;
    align-items: center;
}

.description {
    width: 30.4rem;
    height: 100%;
    color: #ffffff;
}

.description.content {
    color: #D8D8D8;
    white-space: normal;
}

.ranking {
    width: 6.8rem;
    height: 100%;
    padding: 0;
    color: #ffffff;
}

.ranking.content {
    color: #D8D8D8;
}

.other {
    height: 100%;
    flex: 1;
    color: #ffffff;
}

.other.content {
    color: #D8D8D8;
}

.contentBackground {
    height: auto;
    background: #212121;
}

.row td {
    height: 6.4rem;
    text-align: center;
    vertical-align: middle;
}

@media(max-width: 119.9rem) {
    .name {
        width: 15rem;
    }

    .description {
        width: 18rem;
    }

    .logo {
        margin-left: 1.493rem;
        margin-right: 0.8rem;
    }
}

@media(max-width: 74.3rem) {
    .other {
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.551rem;
    }

    .table {
        min-width: 800px;
    }

    .tableContainer {
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .tableContainer::-webkit-scrollbar {
        height: 0.8rem;
    }

    .tableContainer::-webkit-scrollbar-track {
        background: #212121;
    }

    .tableContainer::-webkit-scrollbar-thumb {
        background: gray;
    }

    .marginBottom {
        height: 1.2rem;
        background: #131313;
    }
}