.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00000050;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 49.6rem;
  height: 26.9rem;
  padding: 2.4rem;
  border-radius: 1.6rem;
  background-color: #212121;
}

.modalTitle {
  display: flex;
  justify-content: space-between;
}

.modalTitle h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.387rem;
  color: #ffffff;
}

.modalTitle img {
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.buttonContainer button {
  width: 19.4rem;
  height: 4.8rem;
  padding: 1.3rem 4.8rem;
  border-radius: 5rem;
  background-color: #eb5230;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.909rem;
  color: #ffffff;
}

.modalinput {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1.6rem;
}

.modalinput label {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.148rem;
  color: #ffffff;
}

.modalinput input {
  width: 44.8rem;
  height: 4.8rem;
  padding: 1.6rem 2rem;
  border-radius: 1rem;
  border: 0.1rem solid #747474;
  background-color: #212121;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.671rem;
  color: #747474;
}

.modalinput input::placeholder {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.671rem;
  color: #747474;
}

.modalinput img {
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  top: 5rem;
  right: 2rem;
  cursor: pointer;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 49.6rem;
  height: 18.6rem;
  padding: 2.4rem;
  border-radius: 1.6rem;
  background-color: #212121;
}

@media (max-width: 743px) {
  .modalContainer {
    gap: 1rem;
    width: 34.3rem;
    height: 22.5rem;
    padding: 1.6rem;
  }

  .modalTitle h1 {
    font-size: 1.6rem;
    line-height: 1.909rem;
  }

  .modalTitle img {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
  }

  .buttonContainer button {
    width: 13.5rem;
    height: 4.4rem;
    padding: 1.3rem 2.4rem;
    font-size: 1.4rem;
    line-height: 1.671rem;
  }

  .modalinput {
    gap: 1.2rem;
  }

  .modalinput label {
    font-size: 1.4rem;
    line-height: 1.671rem;
  }

  .modalinput input {
    width: 31.1rem;
    font-size: 1.3rem;
    line-height: 1.551rem;
  }

  .modalinput input::placeholder {
    font-size: 1.3rem;
    line-height: 1.551rem;
  }

  .modalinput img {
    top: 4.2rem;
  }

  .errorContainer {
    gap: 1rem;
    width: 34.3rem;
    height: 16.1rem;
    padding: 1.6rem;
  }
}
