* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem 3rem;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 120rem;
    height: 4.8rem;
}

.title {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 700;
    color: #FFFFFF;
}

.body {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.table {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.listHeader {
    display: flex;
    align-items: center;
    width: 120rem;
    height: 4rem;
    background-color: #2E2E2E;
    border-radius: 0.4rem;
    overflow: auto;
    min-width: 50rem;
}

.rank {
    width: 6%;
}

.company {
    width: 21%;
}

.description {
    width: 26%;
}

.category {
    width: 13%;
}

.other {
    width: 20%;
}

.rank, .company, .description, .category, .other {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7rem;
    color: #FFFFFF;
    overflow: hidden; 
    text-align: center;
}


@media (max-width: 1199px) and (min-width: 744px) {
    .container {
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }

    .header {
        width: 100%;
    }

    .body {
        width: 100%;
    }

    .listHeader {
        width: 100%;
    }
}

@media (max-width: 743px) {
    .container {
        padding-top: 8rem;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }

    .header {
        width: 100%;
        flex-direction: column;
        height: 9rem;
    }

    .title {
        font-size: 1.6rem;
        line-height: 1.9rem;
    }

    .body {
        width: 100%;
        overflow-x:auto;
    }

    .listHeader {
        width: 100%;
    }

    .rank, .company, .description, .category, .other {
        font-size: 1rem;
        line-height: 1.5rem;
    }

}