.header {
    width: 100%;
    height: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exitBtn {
    width: 3.2rem;
    height: 100%;
    display: flex;
    background: #212121;
}

.title {
    font-family: Pretendard;
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
}

@media(max-width: 74.3rem) {
    .header {
        height: 2.4rem;
    }

    .exitBtn {
        width: 2.4rem;
    }

    .title {
        font-size: 1.6rem;
    }
}