.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    margin: 15rem 0;
}

.logoGroup {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
}

.logo {
    width: 28.9rem;
    height: 10.4rem;
}

.descGroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.desc_1 {
    font-size: 2.4rem;
    font-weight: 500;
    color: #FFFFFF;
}

.desc_2 {
    font-size: 1.6rem;
    font-weight: 400;
    color: #FFFFFF;
}

.startBtn {
    width: 28.9rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: #EB5230;
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: Pretendard;
}

.img {
    width: 50rem;
    height: 30rem;
}

@media (max-width: 1199px) and (min-width: 744px) {
    .container {
        margin: 25rem 0;
    }

    .logoGroup {
        align-items: center;
    }

    .logo.tablet {
        width: 35rem;
        height: 5rem;

    }
}

@media (max-width: 743px) {
    .logo {
        width: 22rem;
        height: 7.9rem;
    }

    .desc_1 {
        font-size: 1.5rem;
    }

    .desc_2 {
        font-size: 1.2rem;
    }

    .startBtn {
        width: 22rem;
        height: 3rem;
        font-size: 1.2rem;
    }
}