.sortMenu {
    position: relative;
    display: flex;
    align-items: center;
}

.sortButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 16.8rem;
    height: 4.8rem;
    border-radius: 1rem;
    border: 1px solid #747474;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.sortButton.status {
    width: 26.4rem;
    height: 4.8rem;
}

.sortContext {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 400;
    font-family: Pretendard;
    color: #D8D8D8;
}

.sortOptions {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 110%;
    width: 16.8rem;
    height: 24rem;
    border-radius: 1rem;
    border: 1px solid #747474;
    background-color: #131313;
}

.sortOptions.status {
    width: 26.4rem;
    height: 16rem;
}

.sortOptions.compareResult {
    width: 26.4rem;
    height: 24rem;
}

span {
    border: 1px solid #747474;
}

.sortToggle {
    width: 16.8rem;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 400;
    font-family: Pretendard;
    color: #D8D8D8;
    border: none;
    cursor: pointer;
}

.sortToggle.status {
    width: 26.4rem;
}

@media (max-width: 743px) {
    .sortButton {
        width: 14.6rem;
        height: 4rem;
        padding: 0.6rem 0.8rem;
    }

    .sortOptions {
        width: 14.6rem;
        height: 22.8rem;
    }

    .sortToggle {
        width: 14.6rem;
        height: 3.8rem;
    }
}