:root {
  /*black*/
  --black-400: #131313;
  --black-300: #212121;
  --black-200: #282828;
  --black-100: #2e2e2e;
  /*gray*/
  --gray-400: #333333;
  --gray-300: #4b4b4b;
  --gray-200: #747474;
  --gray-100: #d8d8d8;
  /*brand*/
  --brand-orange: #eb5230;
  /*blue*/
  --blue: #3692ff;
  /*red*/
  --red-error: #c41013;
}

.modal {
  display: flex;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(13, 13, 13, 0.5);
}

.modalContent {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--black-300);
  margin: auto;
  max-width: 49.6rem;
  width: 100%;
  padding: 2.4rem;
  gap: 2.4rem;
  border-radius: 1.6rem;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modalFont {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.387rem;
  color: #ffffff;
}
.modalHeader img {
  cursor: pointer;
}

.inputContainer {
  display: flex;
  width: 100%;
  position: relative;
}

.modalInput {
  width: 100%;
  padding: 1.2rem;
  gap: 1rem;
  border: 0.1rem solid var(--gray-200);
  border-radius: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.671rem;
  color: var(--gray-100);
  background-color: var(--black-300);
}
.closeCircle {
  position: absolute;
  right: 50px; /* search 버튼과의 간격을 조정 */
  top: 50%;
  transform: translateY(-50%); /* 세로 중앙 정렬 */
  cursor: pointer; /* 포인터 커서 */
}

.searchButton {
  position: absolute;
  right: 10px; /* closeCircle와의 간격을 조정 */
  top: 50%;
  transform: translateY(-50%); /* 세로 중앙 정렬 */
  cursor: pointer; /* 포인터 커서 */
}

.searchHeader {
  width: 100%;
  display: flex;
}
.modalFont {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.148rem;
}
.searchResultContainer {
  color: var(--gray-200);
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}

.modalPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 0.8rem;
  background-color: #2e2e2e;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  color: #747474;
  cursor: pointer;
  margin: 0;
}

@media (max-width: 743px) {
  .modalContent {
    padding: 1.6rem;
  }
  .modalInput {
    padding: 0.8rem 1.2rem;
  }
  .modalFont {
    font-size: 1.6rem;
  }
}
